/* ================================================================= */
/* ============================INDEX.HTML=========================== */
/* ================================================================= */
body { /*   Para cambiar el font del sitio tendría que cambiar acá, 
        y el sitio al estar hecho con "em"s tendría que acomodarse correctamente.*/
    font-size: 0.8em;
    background-image: url("../images/baldozas.png");
    font-family: Arial, Georgia;
}

a {
    text-decoration: none;
}

header {
    max-width: 1024px;
    min-width: 680px;
    margin: 0px auto;
    position: relative;
}

h2,h3 {
    color: black;
    text-shadow: 0.1em 0.1em 0.4em #333;
}

nav {
    box-shadow: 0.1em 0.1em 0.1em #797979;
    background-color: rgb(173, 255, 169);
    border-radius: 7em 7em 1em 1em;
    padding: 0.5em 3em;
    text-align: center;
    display: inline;
    margin-top: 117px;
    margin-right: 1em;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

nav a {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0em 0.06em;
    background-color: rgba(216, 255, 216, 0.87);
    border-radius: 0.6em;
    color: rgb(114, 114, 114);

}
nav>a{
    float: left;    
}

nav a:HOVER {
    background-color: rgba(252, 252, 252, 0.75);
    color: rgba(95, 95, 95, 0.70);
    text-decoration: none;
}

nav .dropdown-menu a:HOVER {
    background-color: rgba(216, 255, 216, 0.87);
    color: black;
}

/**
 * Lo pongo inline-block para qse acomode horizontalmente como el resto de los items del menú principal.
 */
nav .dropdown {
    display: inline-block;
    float: left;
}

/**
 * Los links de los dropdown, lo pongo en blanco para que no quede verde como el resto de los <a> del header.
 */
nav .dropdown-menu a {
    background-color: white;
}

nav img {
    width: 25px;
    height: 25px;
    margin-left: 28px;
    display: block;
    float: right;
}

p {
    text-align: justify;
}

label {
    font-size: 0.8em;
}

/**
 * Es el DIV que contiene al DIV content donde se coloca la info de cada página del sitio.
 */
.container {
    box-shadow: 0.1em 0.1em 0.1em #797979;
    max-width: 1024px;
    min-width: 655px;
    background-color: rgba(223, 252, 255, 1);
    border-radius: 2em;
    padding: 1.7em 2em;
    margin: 0px auto;
    clear: both;
    position: relative;
    z-index: 2;
}

.container h2 {
    margin-bottom: 0.75em;
    margin-left: 45%;
}

.footerText,.footerDesignerSignText {
    text-align: center;
    text-shadow: 0.1em 0.1em 0.9em black;
}

.footerText a,.footerDesignerSignText a {
    color: black;
}

.footerText img {
    width: 2em;
    margin-right: 0.5em;
    margin-top: -0.5em;
    vertical-align: middle;
}

.footerText {
    font-size: 0.75em;
}

.footerDesignerSignText {
    font-size: 0.7em;
}

/* ================================================================= */
/* ============================WHATWEDO.HTML======================== */
/* ================================================================= */
.whatWeDo {
    margin-top: 0.5em;
    margin-bottom: 1em;
    clear: left;
    display: inline-block;
}

.whatWeDo .content {
    padding-left: 3em;
}

.whatWeDo div {
    float: left;
    margin-right: 2em;
}

.whatWeDo img {
    margin: 0.6em 0em 1.3em;
    border-radius: 4em;
}
/* ================================================================= */
/* ============================CONTACT.HTML========================= */
/* ================================================================= */
.formLabel {
    font-size: 0.8em;
    margin-right: 0.5em;
}

#contactInfo #rightColumn a {
    margin-left: 65%;
    width: 20rem;
    float: left;
}

#contactInfo #rightColumn ul {
    list-style-type: none;
}

#contactInfo #rightColumn img {
    margin-right: 1%;
    vertical-align: middle;
}

/* ================================================================= */

/**
 * Estilos para las líneas de tránsito que me dejan cerca de las consultas.
 */
.transitLine dd {
    font-weight: bold;
}

.transitLine-violet {
    color: #B801B8;
}

.transitLine-brown {
    color: rgb(117, 50, 50);
}

.transitLine-orange {
    color: orange;
}

.transitLine-lightGreen {
    color: rgb(2, 189, 2);
}

.transitLine-darkGreen {
    color: green;
}

.transitLine-blue {
    color: blue;
}

/* ================================================================= */
.contactSites {
    width: 91.5%;
    clear: left;
    display: table;
    margin: 0px auto;
}

.contactSites section {
    margin-top: 1em;
    border-radius: 1em 1em 1em 1em;
    background-color: rgba(148, 255, 65, 0.24);
        
}

.contactSites section div {
    width: 33em;
    padding: 0.5em 0.8em;
    margin-left: 0.8em;
}

.contactSites section div img {
    width: 25%;
    float: right;
    border-radius: 50%;
    margin-top: -5em;
}

.contactSiteInfo {
    float: left;
}

.contactSiteInfo h3 {
    margin-bottom: 3em;
}

.contactSiteInfo ul li {
    margin-bottom: 1.5em;
}

/**
 * Defino los márgenes y el redondeado del borde para que se "mezcle" con la parte de arriba.
 */
.contactSiteMap {
    border-radius: 0em 1em 1em 0em;
    display: inline-table;
}

/* ================================================================= */
/* ============================GENERICS============================= */
/* ================================================================= */
.labelLarge {
    font-size: 0.85em;
}

/* ================================================================= */

/**
 * Separando con coma, es A o B. Separando con espacio es B hijo A. Sin separar, son los elementos que tengan A y B.
 */
.twoColumns,.twoColumnsSmall {
    margin: 0.75em;
    display: inline-block;
}

.twoColumns #rightColumn {
    display: table;
}

.twoColumns #leftColumn,.twoColumnsSmall #leftColumn {
    float: left;
}

.twoColumns #leftColumn {
    margin-right: 2em;
}

.twoColumnsSmall #leftColumn {
    margin-right: 2em;
    margin-bottom: 1em;
}

.twoColumnsSmall #rightColumn {
    margin-top: 1em;
}

/* ================================================================= */

/**
 * Asigna un borde de color. Se usa en las imágenes.
 */
.imgBorder {
    padding: 0.1em;
    border: 0.1em solid #6CA5FF;
}

/* ================================================================= */

/**
 * Es para una especie de título que deba estar centrado y con sombra.
 */
.centralText {
    text-shadow: 0.1em 0.1em 0.9em black;
    background-color: #ABFF9B;
    border-radius: 2em;
    padding: 0.5em 1em;
    margin: 1em auto;
    clear: left;
    display: table;
}

/* ================================================================= */
.map {
    padding: 0.1em;
    border: 0.1em solid #6CA5FF;
    width: 425px;
    height: 350px;
    margin: 0;
}

.expandMapLabel {
    color: gray;
}

/* ================================================================= */
/**
 * Clase para usar junto con imageLink-linkedIn y las propias para cada sitio, por ej: Twitter, Facebook, etc.
 */
.imageLink {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 1.7em; /*Con 1.7em quedan originales los 25px de la imágen*/
    height: 1.7em;
    width: 1.7em;
}

.imageLink-linkedIn {
    background-image: url("../images/link-linkedIn.png");
}

/* ================================================================= */
.slideshow {
    width: 300px;
    height: 450px;
}

.slideshow img {
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 0.7em;
}

/* ================================================================= */
.iesupport {
    font-weight: bold;
    font-size: 1.2em;
    width: 100%;
    height: 35px;
    position: fixed;
    top: 0;
    left: 0;
    background: #FF8808;
    color: white;
    text-align: center;
    line-height: 2;
}

.iesupport a {
    color: white;
    text-decoration: underline;
}

/* ================================================================= */
/* =========================SOBREESCRIBO============================ */
/* ================================================================= */
.nav-tabs {
    border-bottom: 1px solid white;
}

.nav-tabs li a {
    color: rgb(94, 94, 94);
}

.nav-tabs li a:HOVER {
    color: black;
    border: 1px solid white;
    background-color: rgba(195, 250, 255, 0.3);
}
