body { /*	Para cambiar el font del sitio tendría que cambiar acá, 
    	y el sitio al estar hecho con "em"s tendría que acomodarse correctamente.*/
    font-size: 0.9em;
}

header {
    margin: 1.6em 0em 0em 13.9em;
    text-align: center;
}

header h1,header span {
    float: left;
}

header h1 {
    margin: 0em 1em 0em 0.3em;
    font-size: 2.3em;
}

nav {
    margin: 1em 0em 0em 13.9em;
    background-color: rgb(173, 255, 169);
    text-align: center;
    border-radius: 7em 7em 1em 1em;
    padding: 0.5em 3em;
    display: table;
}

nav a {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0em 0.06em;
    background-color: rgba(216, 255, 216, 0.87);
    border-radius: 0.6em;
    color: rgb(114, 114, 114);
}

nav a:HOVER {
    background-color: rgba(252, 252, 252, 0.75);
    color: rgba(95, 95, 95, 0.70);
    text-decoration: none;
}

/**
 * Es el DIV que contiene al DIV content donde se coloca la info de cada página del sitio.
 */
#main {
    background-color: rgba(223, 252, 255, 0.6);
    border-radius: 2em;
    padding: 1.7em 2em;
}

h2,h3 {
    color: black;
    text-shadow: 0.1em 0.1em 0.4em #333;
}

#main h2 {
    text-align: center;
    margin-bottom: 0.75em;
}

.psi-small {
    font-family: 'Caudex', serif;
    font-size: 1em;
}

.psi-big {
    font-family: 'Caudex', serif;
    font-size: 6em;
}

/**
 * Es para una especie de título que deba estar centrado y con sombra.
 */
.centralText {
    text-shadow: 0.1em 0.1em 0.9em black;
    background-color: #ABFF9B;
    border-radius: 2em;
    padding: 0.5em 1em;
    margin: 1em auto 0em;
    clear: left;
    display: table;
}

.footerText,.footerDesignerSignText {
    text-align: center;
    text-shadow: 0.1em 0.1em 0.9em black;
}

.footerText a,.footerDesignerSignText a {
    color: black;
}

.footerText {
    font-size: 0.75em;
}

.footerDesignerSignText {
    font-size: 0.65em;
}

/**
 * Asigna un borde de color. Se usa en las imágenes.
 */
.imgBorder {
    padding: 0.1em;
    border: 0.1em solid #6CA5FF;
}

/**
 * Settea la alineación de las imágenes.
 */
.imgAlignment {
    text-align: center;
}

.map {
    padding: 0.1em;
    border: 0.1em solid #6CA5FF;
    width: 425px;
    height: 350px;
    margin: 0;
}

#fixedMenu {
    position: fixed;
    background-color: rgba(235, 239, 249, 0.8);
    border-radius: 0.8em;
    padding: 0.8em;
    width: 10.5em;
    margin-top: 35%;
    margin-left: 73%;
}

.relatedSection {
    margin: 1em;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 1em;
    padding: 0.5em 0.8em; /*top-right-bottom-left*/
    display: table;
    /*Descomentar float para related2.html*/
    /*     float: left; */
}

.formLabel {
    font-size: 0.8em;
}

.contactSite,.contactSiteMap {
    height: 13.5em;
    width: 30em;
    float: left;
    background-color: rgba(148, 255, 65, 0.24);
    padding: 0.5em 0.8em; /*top-right-bottom-left*/
}

/**
 * Defino los márgenes y el redondeado del borde para que se "mezcle" con la parte de arriba.
 */
.contactSite {
    margin: 0.5em 0.5em 0em 0.5em;
    border-radius: 1em 1em 0em 0em;
}

/**
 * Defino los márgenes y el redondeado del borde para que se "mezcle" con la parte de arriba.
 */
.contactSiteMap {
    margin: 0em 0.5em 1em 0.5em;
    border-radius: 0em 0em 1em 1em;
    display: inline-table;
}

/**
 * Estilos para las líneas de tránsito que me dejan cerca de las consultas.
 */
.transitLine dd {
    font-weight: bold;
}

.transitLine-violet {
    color: #B801B8;
}

.transitLine-brown {
    color: rgb(117, 50, 50);
}

.transitLine-orange {
    color: orange;
}

.transitLine-lightGreen {
    color: rgb(2, 189, 2);
}

.transitLine-darkGreen {
    color: green;
}

.transitLine-blue {
    color: blue;
}

/* ================================================================= */
.expandMapLabel {
    color: gray;
}

/* ================================================================= */
/**
 * Separando con coma, es A o B. Separando con espacio es B hijo A. Sin separar, son los elementos que tengan A y B.
 */
.twoColumns,.twoColumnsSmall {
    display: inline-block;
}

.twoColumns #leftColumn {
    float: left;
    display: inline-block;
    margin-right: 5em;
}

.twoColumnsSmall #leftColumn {
    float: left;
    margin-right: 1em;
}

.twoColumnsSmall #rightColumn {
    margin-top: 1em;
}

/* ================================================================= */
/**
 * Clase para usar junto con imageLink-linkedIn y las propias para cada sitio, por ej: Twitter, Facebook, etc.
 */
.imageLink {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 1.7em; /*Con 1.7em quedan originales los 25px de la imágen*/
    height: 1.7em;
    width: 1.7em;
}

.imageLink-linkedIn {
    background-image: url("../images/link-linkedIn.png");
}

/* ================================================================= */